<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Auth / Access Service</h1>

    <p>Welcome to the auth / access service!</p>

    <p>Admins can visit the <a href="/admin/">admin site</a>.</p>

    <p>User access API is available at: <code>/profiles/username/access</code></p>

    <p><em>The page is just a placeholder until all the initial APIs are in place.</em></p>
</body>
</html>
